<h3>Available Rewards</h3>

<table id="available_rewards">
  <colgroup span="2" class="columns"></colgroup>
  <tr>
    <th>Title</th>
    <th>Worth</th>
  </tr>
  <% @rewards.each do |reward| %>
    <tr><td><%= reward.title %></td><td><%= reward.worth %><td><%= link_to "Redeem Reward", user_path(current_user), method: :put%></td></tr>
  <% end %>
</table>
