<h3>Logged in as <%= current_user.username %></h3>

<h3>Your Points</h3>
<table id="user_points">
  <tr>
    <th>Available Points: </th><td><%= current_user.available_points %></td>
  </tr>

  <tr>
    <th>Redeemed Points: </th><td><%= current_user.redeemed_points %></td>
  </tr>
</table>

<h3>Available Rewards</h3>

<%= render 'rewards/rewards' %>

