<h3>Logged in as <%= current_user.username %></h3>

<table id="user_points">
  <tr>
    <th>Available Points: </th><th><%= current_user.available_points %></th>
  </tr>

  <tr>
    <th>Redeemed Points: </th><th><%= current_user.redeemed_points %></th>
  </tr>
</table>
